.main-k{
    background-color: #ffffff;border-radius: 5px;padding-top: 5px;padding-bottom: 5px;
}

.main-k-l{
    background-color: #ffffff;border-radius: 5px;padding-top: 5px;padding-bottom: 5px;margin-left: 15px;
}